*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	/*background-color: #33a5d6;*/
    background-image: url(../IMG/p.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
    padding: 100px;
}

	.list{
	list-style: none;
	padding: 10px;
	background: black ; 
	width: 99%;
	margin:0px;
	
	}



.formulario_registro{
	margin-top: 2px;
}	


.form{
	background-color:rgba(0,0,0,0.5);
	width: 500px;
	height: 500px;
	margin: auto;
	padding: 70px;
	border-radius: 15px;
	color: #999;
	font-size: 0.9em;
}

h1{
	font-size: 20px;
	text-align: center;
	color: #999;
	margin-top: 15px;
	margin-bottom: 15px;

}	

.imag{
	margin-left: 180px;
}

input[type="text"], input[type="password"], input[type="email"]
{
	width: 380px;
	padding: 10px;
	margin-bottom: 15px;
	margin-top: 1px;	

} 

input[type="submit"]{
			border: 0;
			width: 100%;
			/*background-color: #ED8824;*/
			padding: 10px 20px;
			position: relative;
			left: 1px;
			bottom: 12px;
			border-radius: 10px;
		}

.btn-green{
	font-size: 20px;
	color: white;
	background-color: #9802FA ;
}

.btn-green:hover{
	background-color: #BE6BF4 ;	
}
.btn-green:active{
	background-color: #D39BF7;
}
    input{
			border: 0;
			outline: none;
			
		}
       .field{
			border: solid 1px #ccc;
			border-radius: 4px 4px 4px 4px; 
			padding: 10px;
			width: 240px;
			 
		}

   		.field:focus{
			border-color: #18A383;
		}

	.form a{
	text-decoration: none;
	color: #ADADAD;
	font-size: 20px;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	/*padding-left: 5px; */
}

.form a:hover{
     color: #E60000;

	}